/* Genral style */

body {
  font-size: 14pt;
  font-family: Arial, "MS Trebuchet", sans-serif;
  line-height: 150%;
  background-color: black;
}

h1 {
  color: white;
  font-size: 1.8em;
  margin-left: 15px;
}

dl dd {
  margin: 0;
}

dl {
  margin: 0;
}

/* Layout */
/* Upcoming Events */

#wrap {
  width: 1024px;
  height: 768px;
}

#notification {
  padding: 5px 10px 10px 12px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 45px;
  width: auto;
  -webkit-border-bottom-left-radius: 10px;
  background-color: #E4E4E4;  
}

#notification .jclock {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 30pt;
}

ul.events {
  list-style: none inside;
  padding: 0;
  margin: 0;
}

ul.events li {
  padding: 8px;
  margin: 0;
  margin-bottom: 8pt;
  padding-bottom: 8pt;
  border-bottom: 1px solid #939393;
}

ul.events li:last-child {
   border-bottom: none; 
}

.start_time {
  background-color: black;
  color: white;
  padding: 2pt 4pt 2pt 4pt;
  margin-right: 4pt;
  -webkit-border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 17pt;
}
.subtitle {
  font-size: 14pt;
  margin-top: 4pt;
  line-height: 130%;
}

.room {
  background-color:#E4E4E4;  
  padding: 15px;
  padding-top: 1px;  
  min-height: 310px;
  margin-bottom: 10px;
  -webkit-border-radius: 10px;  
}

.this_room {
  padding-top: 2px;    
  width: 56%;
  min-height: 643px;  
}

.other_rooms {


  clear: right;
  float: right;
  width: 37%;
}

dl dt.title {
  font-weight: bold;
}

dl dd.people {
  font-style: italic;
  font-size: 11pt;
}
.blue {
  border: 1px solid blue;
}