/* Genral style */

body {
  font-size: 14pt;
  font-family: Arial, "MS Trebuchet", sans-serif;
  line-height: 150%;
}

h1 {
  font-size: 1.8em;
}

dl dd {
  margin: 0;
}

dl {
  margin: 0;
}

/* Layout */
/* Upcoming Events */

#wrap {
  width: 1024px;
  height: 768px;
}

ul.events {
  list-style: none inside;
  padding: 0;
  margin: 0;
}

ul.events li {
  padding: 8px;
  margin: 0;
  margin-bottom: 5px;
  padding-bottom: 5px;
  -webkit-border-radius: 10px;
}

ul.events li.even {
  background-color: #E4E4E4;
  
}


.this_room {
  padding: 0;  
  width: 57%;
}

.other_rooms {
  padding: 0;  
  clear: right;
  float: right;
  width: 37%;
}

dl dt.title {
  font-weight: bold;
}

dl dd.people {
  font-style: italic;
  font-size: 11pt;
}