--- 
root: /home/announcer/app/current/public
log_file: /home/announcer/app/current/log/mongrel.log
port: 3000
pid_file: /home/announcer/app/current/tmp/pids/mongrel.pid
servers: 3
group: announcer
group: announcer
environment: production

