<h1>Choose the room this display is in</h1>
<ul class="rooms">
  <%- @rooms.each do |room| -%>
    <li>
      <%= link_to("#{room.name}", room_events_path(room),
          :class => "button huge") %>
    </li>
  <%- end -%>
</ul>